if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

cdpath=({{ zsh_cdpath }})

# Modify PATH
export PATH=/bin:$HOME/bin:{{ homebrew_bin_path }}:/usr/local/sbin:$PATH
export PATH=$PATH:$HOME/Applications/bin
export PATH=/usr/local/share/npm/bin:$PATH # Add NPM binaries
export PATH=$PATH:/usr/local/go/bin
export PATH=./bin:$PATH
export PATH=./node_modules/.bin:$PATH
export PATH=$PATH:$HOME/.composer/vendor/bin
export PATH="/usr/local/opt/python@2/libexec/bin:$PATH"

export ZPLUG_HOME=/usr/local/opt/zplug
source $ZPLUG_HOME/init.zsh

zplug "lib/*", from:oh-my-zsh
zplug "romkatv/powerlevel10k", as:theme, depth:1

if ! zplug check --verbose; then
    printf "Install? [y/N]: "
    if read -q; then
        echo; zplug install
    fi
fi

zplug load

export LANG=en_US.UTF-8

if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='{{ editor }}'
fi

# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

ssh-add -A 2> /dev/null

# VM Setup
export VM_PATH=$HOME/Documents/Virtual-Machines.localized

for config in $HOME/.zshrc.d/*.zsh ; do
  [ -e "$config" ] && source $config
done

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
