[user]
	name = Marten Klitzke
	email = mklitzke@mortik.de
[color]
	ui = auto

[alias]
  f = fetch origin --prune
	r = rebase
  co = checkout
  cb = checkout -b
  coa = commit --amend
  remove =ls-files --deleted | xargs git rm
  s = status -sb
  st = status -sb
  br = branch
  l = log --abbrev-commit --date=relative
  lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  standup-me = log --since '2 days ago' --author m.klitzke@gmail.com
  mt = mergetool
[format]
  pretty=format:* %C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[branch "master"]
  remote = origin
  merge = refs/heads/master
[branch "develop"]
  remote = origin
  merge = refs/heads/develop
[core]
	excludesfile = /Users/mortik/.gitignore_global
	precomposeunicode = true
	editor = vim
[push]
  default = current
[merge]
  tool = Kaleidoscope
[diff]
  tool = Kaleidoscope
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[branch]
	autosetuprebase = always # git config branch.<name>.rebase true if branch already exists
[mergetool]
	keepBackup = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
