"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "go-debug"
    ]
    projectHome: "/Users/mortik/dev"
    telemetryConsent: "limited"
    titleBar: "custom"
  customFileTypes:
    "test.xml.plist": [
      "plist"
    ]
  editor: {}
  "exception-reporting":
    userId: "53fc0820-54db-5a56-6c4c-6982ffa7a0c8"
  "go-plus":
    config: {}
    currentPanelHeight: "20vh"
    format:
      tool: "goreturns"
    goPath: "/Users/mortikCosta/dev/one/go-apis:/Users/mortikCosta/dev/one/go-apis/vendor:~/go"
    lint: {}
    navigator: {}
    panelDisplayMode: "closed"
  "linter-rubocop":
    command: "/usr/local/var/rbenv/shims/rubocop"
  "linter-ui-default": {}
  nuclide:
    "nuclide-flow":
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
  "rubocop-auto-correct":
    autoRun: true
    correctFile: true
    notification: false
    rubocopCommandPath: "/usr/local/var/rbenv/shims/rubocop"
  "tree-view":
    autoReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
