"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    projectHome: "/Users/mortik/dev"
    telemetryConsent: "limited"
    useCustomTitleBar: true
  customFileTypes:
    "test.xml.plist": [
      "plist"
    ]
  editor: {}
  "exception-reporting":
    userId: "53fc0820-54db-5a56-6c4c-6982ffa7a0c8"
  "go-plus":
    format:
      tool: "goreturns"
    lint: {}
    navigator: {}
    panelDisplayMode: "closed"
  nuclide:
    "nuclide-flow":
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
