{
    "workbench.colorCustomizations": {
        "statusBar.background" : "#303030",
        "statusBar.noFolderBackground" : "#222225",
        "statusBar.debuggingBackground": "#511f1f",
        "editor.selectionBackground": "#0F5897"
    },
    "workbench.startupEditor": "none",
    "workbench.fontAliasing": "antialiased",
    "window.openFoldersInNewWindow": "on",
    "window.openFilesInNewWindow": "off",
    "window.newWindowDimensions": "inherit",
    "explorer.openEditors.visible": 0,
    "editor.renderIndentGuides": true,
    "editor.scrollBeyondLastLine": false,
    "editor.tabSize": 2,
    "eslint.autoFixOnSave": true,
    "eslint.validate": [{
        "language": "javascript",
        "autoFix": true
    }, {
        "language": "vue",
        "autoFix": true
    }],
    "files.trimTrailingWhitespace": true,
    "files.insertFinalNewline": true,
    "files.exclude": {
        "**/.git": true,
        "**/.svn": true,
        "**/.hg": true,
        "**/CVS": true,
        "**/.DS_Store": true,
        "build/**": true,
        ".tmp/**": true,
        "**/coverage/**": true,
        "**/.eslintcache": true
    },
    "window.zoomLevel": 0,
    "projectManager.openInNewWindowWhenClickingInStatusBar": false,
    "projectManager.git.baseFolders": [
        "{{ ansible_env.HOME }}/dev",
        "{{ ansible_env.HOME }}/work",
    ],
    "projectManager.treeview.visible": false,
    "workbench.iconTheme": "material-icon-theme",
    "[apiblueprint]": {
        "files.trimTrailingWhitespace": false
    },
    "docker.showExplorer": false,
    "editor.multiCursorModifier": "ctrlCmd",
    "editor.snippetSuggestions": "top",
    "[markdown]": {
        "files.trimTrailingWhitespace": false
    },
    "gitlens.advanced.messages": {
        "suppressShowKeyBindingsNotice": true,
        "suppressWelcomeNotice": true
    },
    "editor.minimap.enabled": false,
    "explorer.confirmDragAndDrop": false,
    "editor.rulers": [
        100
    ],
    "material-icon-theme.showUpdateMessage": false,
    "go.inferGopath": true,
    "gitlens.keymap": "alternate",
    "gitlens.historyExplorer.enabled": false,
    "workbench.statusBar.feedback.visible": false
}
